In [2]:
#conda install mlxtend
#conda install mlxtend --channel conda-forge

import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
df = pd.read_excel('Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [59]:
df_italy = df.loc[df["Country"] == "Italy"] 

print len(df_italy)

df_italy.head()

803

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7214,537022,22791,T-LIGHT GLASS FLUTED ANTIQUE,12,2010-12-03 15:45:00,1.25,12725.0,Italy
7215,537022,21287,SCENTED VELVET LOUNGE CANDLE,12,2010-12-03 15:45:00,1.25,12725.0,Italy
7216,537022,79337,BLUE FLOCK GLASS CANDLEHOLDER,6,2010-12-03 15:45:00,1.65,12725.0,Italy
7217,537022,85111,SILVER GLITTER FLOWER VOTIVE HOLDER,12,2010-12-03 15:45:00,1.25,12725.0,Italy
7218,537022,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,6,2010-12-03 15:45:00,2.10,12725.0,Italy

In [60]:
df_italy = df_italy.iloc[:, [0, 2]]
df_italy.head()

                              Description
7214         T-LIGHT GLASS FLUTED ANTIQUE
7215        SCENTED VELVET LOUNGE CANDLE
7216        BLUE FLOCK GLASS CANDLEHOLDER
7217  SILVER GLITTER FLOWER VOTIVE HOLDER
7218      6 CHOCOLATE LOVE HEART T-LIGHTS

In [ ]:
df_italy.reshape()

In [61]:
df1 = pd.get_dummies(df_italy)
print df1.head()
df1.shape

      Description_12 EGG HOUSE PAINTED WOOD  \
7214                                      0
7215                                      0
7216                                      0
7217                                      0
7218                                      0

      Description_12 PENCILS TALL TUBE RED RETROSPOT  \
7214                                               0
7215                                               0
7216                                               0
7217                                               0
7218                                               0

      Description_12 PENCILS TALL TUBE SKULLS  \
7214                                        0
7215                                        0
7216                                        0
7217                                        0
7218                                        0

      Description_12 PENCILS TALL TUBE WOODLAND  \
7214                                          0
7215                                          0
7216                                          0
7217                                          0
7218                                          0

      Description_16 PIECE CUTLERY SET PANTRY DESIGN  \
7214                                               0
7215                                               0
7216                                               0
7217                                               0
7218                                               0

      Description_20 DOLLY PEGS RETROSPOT  \
7214                                    0
7215                                    0
7216                                    0
7217                                    0
7218                                    0

      Description_3 GARDENIA MORRIS BOXED CANDLES  \
7214                                            0
7215                                            0
7216                                            0
7217                                            0
7218                                            0

      Description_3 ROSE MORRIS BOXED CANDLES  \
7214                                        0
7215                                        0
7216                                        0
7217                                        0
7218                                        0

      Description_3 STRIPEY MICE FELTCRAFT  \
7214                                     0
7215                                     0
7216                                     0
7217                                     0
7218                                     0

      Description_3 TIER CAKE TIN RED AND CREAM  \
7214                                          0
7215                                          0
7216                                          0
7217                                          0
7218                                          0

                      ...                    \
7214                  ...
7215                  ...
7216                  ...
7217                  ...
7218                  ...

      Description_WOODLAND BUNNIES LOLLY MAKERS  \
7214                                          0
7215                                          0
7216                                          0
7217                                          0
7218                                          0

      Description_WOODLAND CHARLOTTE BAG  Description_WRAP DOILEY DESIGN  \
7214                                   0                               0
7215                                   0                               0
7216                                   0                               0
7217                                   0                               0
7218                                   0                               0

      Description_WRAP ENGLISH ROSE   Description_WRAP I LOVE LONDON   \
7214                               0                                0
7215                               0                                0
7216                               0                                0
7217                               0                                0
7218                               0                                0

      Description_WRAP RED APPLES   Description_WRAP RED VINTAGE DOILY  \
7214                             0                                   0
7215                             0                                   0
7216                             0                                   0
7217                             0                                   0
7218                             0                                   0

      Description_YOU'RE CONFUSING ME METAL SIGN   \
7214                                            0
7215                                            0
7216                                            0
7217                                            0
7218                                            0

      Description_ZINC BOX SIGN HOME  Description_ZINC FOLKART SLEIGH BELLS
7214                               0                                      0
7215                               0                                      0
7216                               0                                      0
7217                               0                                      0
7218                               0                                      0

[5 rows x 480 columns]

(803, 480)

In [62]:
#encontrando regras com no mínimo 5% de suporte
frequent_items = apriori(df1, min_support=0.05, use_colnames=True)

In [63]:
#encontrar regras com lift maior que 1
#rules = association_rules(frequent_items, metric='lift', min_threshold=1)
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.05)
type(rules)
rules.shape
rules

ValueError: cannot call `vectorize` on size 0 inputs unless `otypes` is set

In [56]:
#10 primeiras regras com maior suporte
rules.sort_values('support', ascending= False).head(10)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [11]:
#10 primeiras regras com maior confianca
rules.sort_values('confidence', ascending= False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Product2_Jam, Product3_Dairy)",(Product1_Bread),0.0720,0.3510,0.0720,1.000000,2.849003,0.046728,inf
50,"(Product2_Butter, Product3_Egg)",(Product1_Bread),0.1945,0.3510,0.1945,1.000000,2.849003,0.126231,inf
42,"(Product3_Egg, Product1_Nachos)",(Product2_Salsa),0.1175,0.1965,0.1175,1.000000,5.089059,0.094411,inf
43,"(Product3_Egg, Product2_Salsa)",(Product1_Nachos),0.1175,0.2200,0.1175,1.000000,4.545455,0.091650,inf
20,(Product1_Fruits),(Product3_Salad),0.1825,0.2210,0.1825,1.000000,4.524887,0.142168,inf
37,"(Product1_Fruits, Product2_Vegetable)",(Product3_Salad),0.1705,0.2210,0.1705,1.000000,4.524887,0.132820,inf
65,"(Product1_Juice, Product2_Jam)",(Product3_Egg),0.2010,0.5760,0.2010,1.000000,1.736111,0.085224,inf
58,(Product2_Vegetable),(Product3_Salad),0.2160,0.2210,0.2090,0.967593,4.378247,0.161264,24.037714
64,"(Product1_Juice, Product3_Egg)",(Product2_Jam),0.2080,0.3410,0.2010,0.966346,2.833860,0.130072,19.581714
19,(Product2_Salsa),(Product1_Nachos),0.1965,0.2200,0.1880,0.956743,4.348832,0.144770,18.031765

In [12]:
#10 primeiras regras com maior lift
rules.sort_values('lift', ascending= False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
47,(Product2_Salsa),"(Product3_Egg, Product1_Nachos)",0.1965,0.1175,0.1175,0.597964,5.089059,0.094411,2.195079
42,"(Product3_Egg, Product1_Nachos)",(Product2_Salsa),0.1175,0.1965,0.1175,1.000000,5.089059,0.094411,inf
43,"(Product3_Egg, Product2_Salsa)",(Product1_Nachos),0.1175,0.2200,0.1175,1.000000,4.545455,0.091650,inf
46,(Product1_Nachos),"(Product3_Egg, Product2_Salsa)",0.2200,0.1175,0.1175,0.534091,4.545455,0.091650,1.894146
40,(Product3_Salad),"(Product1_Fruits, Product2_Vegetable)",0.2210,0.1705,0.1705,0.771493,4.524887,0.132820,3.630089
37,"(Product1_Fruits, Product2_Vegetable)",(Product3_Salad),0.1705,0.2210,0.1705,1.000000,4.524887,0.132820,inf
21,(Product3_Salad),(Product1_Fruits),0.2210,0.1825,0.1825,0.825792,4.524887,0.142168,4.692662
20,(Product1_Fruits),(Product3_Salad),0.1825,0.2210,0.1825,1.000000,4.524887,0.142168,inf
38,"(Product2_Vegetable, Product3_Salad)",(Product1_Fruits),0.2090,0.1825,0.1705,0.815789,4.470079,0.132358,4.437857
39,(Product1_Fruits),"(Product2_Vegetable, Product3_Salad)",0.1825,0.2090,0.1705,0.934247,4.470079,0.132358,12.029792

In [13]:
#selecionando regras com lift maior que 2, confianca maior que 0.6 e suporte maior que 0.2
rules[(rules['lift'] >= 2) & (rules['confidence'] >= 0.6) & (rules['support'] >= 0.2 )]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
24,(Product2_Butter),(Product1_Bread),0.2465,0.3510,0.2145,0.870183,2.479153,0.127978,4.999328
25,(Product1_Bread),(Product2_Butter),0.3510,0.2465,0.2145,0.611111,2.479153,0.127978,1.937571
34,(Product1_Juice),(Product2_Jam),0.2465,0.3410,0.2010,0.815416,2.391249,0.116944,3.570187
58,(Product2_Vegetable),(Product3_Salad),0.2160,0.2210,0.2090,0.967593,4.378247,0.161264,24.037714
59,(Product3_Salad),(Product2_Vegetable),0.2210,0.2160,0.2090,0.945701,4.378247,0.161264,14.438667
64,"(Product1_Juice, Product3_Egg)",(Product2_Jam),0.2080,0.3410,0.2010,0.966346,2.833860,0.130072,19.581714
66,"(Product3_Egg, Product2_Jam)",(Product1_Juice),0.2570,0.2465,0.2010,0.782101,3.172824,0.137650,3.458027
67,(Product1_Juice),"(Product3_Egg, Product2_Jam)",0.2465,0.2570,0.2010,0.815416,3.172824,0.137650,4.025264

In [14]:
# Exercício proposto
#Encontrar para um único país regras usando apriori, 
# com medidas de suporte, confianca e lift e dizer quais possíveis melhores valores para tais medidas

#dados do dataset em https://archive.ics.uci.edu/ml/datasets/online+retail